html {
  box-sizing: content-box;
}
body {
  /*background-color: grey;*/
  background: url("tetris-background.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Press Start 2P";
  color: white;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

h2 {
  margin-left: 1rem;
}

.ready {
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: white;
  /*background: url("http://meatfighter.com/nintendotetrisai/75.png");
  background-size: cover;*/
  opacity: 0;
}

.ready h1 {
  position: relative;
  top: 40%;
  font-size: 3rem;
  color: black;
}

#title {
  padding: 4rem;
  z-index: 6;
}

#game-space {
  width: 220px;
  height: 440px;
  background-color: #D8D8D8;
  margin: -200px 0 0 -110px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid white;
}

.game-block {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #BFBFBF;
  margin: 0;
  padding: 0;
  position: relative;
}

.row {
  height: 22px;
  width: 220px;
  margin: 0;
  padding: 0;
}
