html {
  box-sizing: content-box;
}
body {
  background-color: lightgrey;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#game-space {
  width: 220px;
  height: 440px;
  background-color: black;
  margin: -200px 0 0 -100px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid white;
}

.game-block {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid white;
  margin: 0;
  padding: 0;
  position: relative;
}

.row {
  height: 22px;
  width: 220px;
  margin: 0;
  padding: 0;
}
